/*style02.css*/

*{
    box-sizing: border-box;
}

    /* Body */
body{
  width: 790px;
  height: 550px;
  padding: 10% 35%;
}


  /* Main */
.main{
  width: 460px;
  height: 460px;
  padding: 5px 5px;
  box-shadow: 2px 2px 10px  rgba(181, 181, 181, 0.3),  -2px -2px 10px  rgba(181, 181, 181, 0.2)
}


.parent01{
  width: 450px;
  height: 325px;
}

  /* Box 01/02*/
.child01{
  background-color: #fef9e6;
  float: left;
  width: 25%;
  height: 100%;
  /*Border*/
  border-width: 5px 0px 0px 5px;
  border-style: solid;
  border-color: #453a36;
}


  /* Box 01*/
.grandchild01{
  width: 100%;
  height: 45%;
  /*Border*/
  border-width: 0px 0px 10px 0px;
  border-style: solid;
  border-color: #453a36;
}

 /* Box 02*/
.grandchild02{
  width: 100%;
  height: 55%;
  /*Border*/
  border-width: 10px 0px 0px 0px;
  border-style: solid;
  border-color: #453a36;
}


  /* box 03 */
.child02{
  background-color: #ec4938;
  float: right;
  width: 75%;
  height: 100%;
  /*Border*/
  border-width: 5px 5px 0px 10px;
  border-style: solid;
  border-color: #453a36;
}


 /* Parent 02 */
.parent02{
  width: 450px;
  height: 125px; 
}


/* BOx 04*/
.child1{
  background-color: #409cc5;
  float: left;
  width: 25%;
  height: 100%;
  /*Border*/
  border-width: 10px 0px 5px 5px;
  border-style: solid;
  border-color: #453a36;
}

 /* Box 05*/
.child2{
  background-color: #fef9e6;
  float: left;
  width: 70%;
  height: 100%;
  /*Border*/
  border-width: 10px 10px 5px 10px;
  border-style: solid;
  border-color: #453a36;
}

  /* Box 06/07*/
.child3{
  background-color: #fef9e6;
  float: right;
  width: 5%;
  height: 100%;
  /*Border*/
  border-width: 10px 5px 5px 0px;
  border-style: solid;
  border-color: #453a36;
}

 
  /* Box 06 */
.grandchild1{
  height: 50%;
  /*Border*/
  border-width: 0px 0px 10px 0;
  border-style: solid;
  border-color: #453a36;
}

  /* Box 07 */
.grandchild2{
    background-color: #fbf03b;
    height: 50%;
    /*Border*/
    border-width: 10px 0px 0px 0;
    border-style: solid;
    border-color: #453a36;
}


 