/*style.css*/


*{
    box-sizing: border-box;
}

    /* Body */
body{
  width: 790px;
  height: 550px;
  padding: 10% 35%;
}


  /* Main */
.main{
  width: 460px;
  height: 460px;
  padding: 5px 5px;
  box-shadow: 2px 2px 10px  rgba(181, 181, 181, 0.3),  -2px -2px 10px  rgba(181, 181, 181, 0.2)
}

  /* Parent 01 */
.parent01{
  /*background-color: green;*/
  width: 450px;
  height: 325px;
  }

  /* box 01 */
#box01{
  background-color: #fef9e6;
  float: left;
  width: 25%;
  height: 45%;
  border-width: 5px 0px 10px 5px;
  border-style: solid;
  border-color: #453a36;
}
  
  /* box 02 */
#box02{
  background-color: #ec4938;
  float: right;
  width: 75%;
  height: 100%;
  border-width: 5px 5px 0px 10px;
  border-style: solid;
  border-color: #453a36;
}

  /* box 03 */
#box03{
  background-color: #fef9e6;
  float: left;
  width: 25%;
  height: 55%;
  border-width: 10px 0px 0px 5px;
  border-style: solid;
  border-color: #453a36;
}

  
  /* Parent 02 */
.parent02{
  /*background-color: orange;*/
  width: 450px;
  height: 125px; 
}

  /* box 04 */
#box04{
  background-color: #409cc5;
  float: left;
  width: 25%;
  height: 100%;
  border-width: 10px 0px 5px 5px;
  border-style: solid;
  border-color: #453a36;
}

  /* box 05 */
#box05{
  background-color: #fef9e6;
  float: left;
  width: 70%;
  height: 100%;
  border-width: 10px 10px 5px 10px;
  border-style: solid;
  border-color: #453a36;
}

  /* box 06 */
#box06{
  background-color: #fef9e6;
  float: right; 
  width: 5%;
  height: 50%;
  border-width: 10px 5px 10px 0;
  border-style: solid;
  border-color: #453a36;
}

  /* box 07 */
#box07{
  background-color: #fbf03b;
  float: right;
  width: 5%;
  height: 50%;
  border-width: 10px 5px 5px 0;
  border-style: solid;
  border-color: #453a36;
}

