/* style.css */
*{
	box-sizing: border-box;
}

#logo{
	float: right;
}


/* Float Layout Demo */
.parent{
	background-color: lightgray;
	padding: 40px;
	clear: both;
	overflow: auto;
}

/*.parent:after{
	content: '';
	display: block;
	clear: both;
}*/

.child-one{
	background-color: tomato;
	float: left;
	width: 50%;

	/* border */
	border-width: 0 10px 0 0;
	border-style: solid;
	border-color: white;

	box-sizing: border-box;
}

.child-two{
	background-color: orange;
	float: left;
	width: 25%;
}

.child-three{
	background-color: DodgerBlue;
	float: left;
	width: 25%;
}

.box{
	padding: 60px 0px;
}

.clear{
	clear: both;
}



/* Layout */
.layout{
	/*max-width: 960px;*/
	margin: 0 auto;
}

.layout header, .layout main, .layout aside, .layout footer{
	background-color: lightgray;
	padding: 20px;
}

.layout header{
	margin: 20px 0;
}

.container{
	margin: 20px 0;
	overflow: auto;
	background-color: lightgray;
	/*height: 400px;*/
}

.layout main{
	float: left;
	width: 75%;
}

.layout aside{
	float: right;
	width: 25%;
	background-color: lightblue;
	/*height: 100%;*/
}

.layout footer{
	clear: both;
	margin: 20px 0;
}



/* Media Queries */
@media screen and (max-width: 1000px){
	.layout aside{
		background-color: yellow;
	}
}

@media screen and (max-width: 620px){
	.layout main{
		float: none;
		width: 100%;
	}

	.layout aside{
		float: none;
		width: 100%;
	}
}