 /*style.css*/	

*{
	font-family: 'Arial', sans-serif;
}	

/* Animations */
/* First */
@keyframes first{
	0%{
		background-color: white;
		width: 0%;
	}

	50%{
		width: 100%;
		background-color: white
	}


	100%{
		background-color: rgba(255, 255, 255, 0);
		width: 100%;

	} 
}


/*Second*/
@keyframes second{
	0%{
		background-color: white;
		width: 0%;
	}


	50%{
		background-color: white;
		width: 100%;

	} 



	100%{
		background-color: rgba(255, 255, 255, 0);
		width: 100%;

	} 


}


/*Third*/
@keyframes third{
	0%{
		transform: rotate(0deg);

	}


	50%{
		transform: rotate(180deg);

	} 

	100%{

		transform: rotate(180deg);

	} 


}



/*fourth*/
@keyframes forthsquare{
	0%{
		background-color: white;
		width: 0%;
	}


	50%{
		background-color: white;
		width: 100%;

	} 

	100%{
		background-color: rgba(255, 255, 255, 0.1);
		width: 100%;

	} 


}

@keyframes forthball{
  25% { 
    transform: translateX(70px) ;
  } 
  50% { 
    transform: translateX(70px) translateY(70px) ;
  } 
/*  50.1% { 
    transform: translateX(70px) translateY(70px) ;
  } */
  75% { 
    transform: translateX(0px) translateY(70px) ;
  } 
  100% { 
    transform: rotate(-360deg);

  }
}



/* Header */
h1{
	text-align: center;
	margin-top: 100px;
	font-size: 45px;
	color: #222222;
}


/*Main*/
main{
	height: 300px;
	width: 800px;
	margin: 50px auto;
	background-color: #e84c3c;
	border: 5px;
	border-style: solid;
	border-color: #222222;
}


/* Section 01 */
.section01{
	width: 100%;
	height: 50%;
	font-size: 12px;

}

.box01{
	background-color: #dd4838;
	height: 100%;
	width: 50%;
	float: left;
}

	/*Box-Behind*/
.loading01{
	height: 10%;
	width: 30%;
	background-color: #e84c3c;
	color: white;
	text-align: center;
	position: relative;
	margin: 75px auto;

}

.boxbehind{
    margin: -94px auto;
	height: 15%;
	width: 30%;
    background: #dd4838;
}

.boxbehind div{
    height: 100%;
}

.boxbehind02{
	/*Animation*/
	animation-name: first;
	animation-duration: 5s;
	animation-delay: 1s;
	animation-fill-mode: both; 
	animation-iteration-count: infinite;
}


.box02{
	height: 100%;
	width: 50%;
	float: right;

}

.loading02{
	height: 10%;
	width: 30%;
	background-color: rgba(255, 255, 255, 0.2);
	color: white;
	text-align: center;
	position: relative;
	margin: 75px auto;



}

.boxabove{
    margin: -90px auto;
	height: 10%;
	width: 30%;
    background: rgba(255, 255, 255, 0);
}

.boxabove div{
	height: 100%;
}

.boxabove02{
	height: 10%;
	width: 30%;
	background-color: white;

	/*Animation*/
	animation-name: second;
	animation-duration: 5s;
	animation-delay: 1s;
	animation-iteration-count: infinite;
}


/* Section 02 */
/*Box03-04*/ 
.section02{
	width: 100%;
	height: 50%;
}

/* Box 03*/
.box03{
	float: left; 
	position: relative;
	/*text-align: center;*/
	margin: 55px 160px;


	/*Border*/
 	border: 10px solid transparent;
	/*border-radius: 50%;*/

	/* Animation */
	animation-name: third;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-delay: 1s;
	animation-iteration-count: infinite;
	
}

.box03 div{
		margin: 0 3px;
}


/* Ball-child 01/02/03*/
.ball{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display: inline-block;

}

.ball01{
	background-color: rgba(255, 255, 255, 0.2);
}

.ball02{
	background-color: rgba(255, 255, 255);
}

.ball03{
	background-color: rgba(255, 255, 255, 0.2);
}



/* Box 04*/
.box04{
	float: right;
	background-color: #dd4838;
	height: 100%;
	width: 50%;

}

	/*Square*/
.box-04{
	background-color: rgba(255, 255, 255, 0.2);
	height: 40%;
	width: 15%;
	margin: 40px auto;
	position: relative;

}


.box4{
	position: absolute;
	background-color: rgba(255, 255, 255, 0.2);
	height: 100%;
	width: 100%;
	margin: 0px auto;


	/* Animation */
	animation-name: forthsquare;
	animation-duration: 5s;
	animation-delay: 1s;
	animation-fill-mode: both; 
	animation-iteration-count: infinite;
}



	/* Ball*/
.spinner {
  margin: -110px 160px;
  position: relative;
}

.ball04{
  background-color: white;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  

  /* Animation */
  animation-name: forthball;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;

}
