/* style.css */


/* transitions */
.box{
	width: 150px;
	height: 150px;
	background-color: green;
	border-radius: 6px;
	transform: translate(100px,20px);
	transform: scale(0.5,0.5);

	/* transition */
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-ms-transition-property: all;
	transition-property: all;

	transition-duration: 1s;
	transition-timing-function: cubic-bezier(.06,.88,.19,.9);
	transition-delay: 1s;

	/* shorthand writing */
	transition: all 1s cubic-bezier(.06,.88,.19,.9) 1s;
}

.box:hover{
	background-color: DodgerBlue;
	border-radius: 50%;
	transform: rotate(-60deg);
}


/* Animations */
@keyframes slide{
	0%{
		top: 0px;
		left: 0px;
	}

	50%{
		top: 180px;
		left: 350px;
	}

	100%{
		top: 0px;
		left: 700px;
	} 
}

.stage{
	background-color: lightgray;
	height: 250px;
	position: relative;
}

.ball{
	width: 65px;
	height: 65px;
	background-color: green;
	border-radius: 50%;
	position: absolute;
}

.stage:hover .ball{
	/* animation */
	animation-name: slide;
	animation-duration: 2s;
	animation-timing-function: cubic-bezier(.06,.88,.19,.92);
	animation-delay: 1s;

	animation-iteration-count: 3;
	animation-direction: alternate;
	animation-fill-mode: forwards;

	/* shorthand writing */
	animation: slide 2s cubic-bezier(.06,.88,.19,.92) 1s 3 alternate forwards;
}

.stage:active .ball{
	animation-play-state: paused;
}


.meter { 
    height: 5px;
    position: relative;
    background: #f3efe6;
    overflow: hidden;
}

.meter span {
    display: block;
    height: 100%;
}

.progress {
    background-color: #e4c465;
    -webkit-animation: progressBar 3s ease-in-out;
    -webkit-animation-fill-mode:both; 
    -moz-animation: progressBar 3s ease-in-out;
    -moz-animation-fill-mode:both; 
}

@-webkit-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

@-moz-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}