/* style.css */

.sr-only{
	display: none;
	/*visibility: hidden;*/
}

p{
	border: 2px solid black;
}


/* default value - normal flow */
.normal-flow{
	position: static;
}

/* relative position */
.relative-position{
	position: relative;
	top: 50px;
	left: 50px;
	z-index: 100;
}


/* absolute position */
.absolute-parent{
	background-color: #c8d3e6;
	position: relative;
	height: 400px;
}

.absolute-position{
	position: absolute;
	bottom: 20px;
}


/* fixed position */
.fixed-position{
	background-color: #d90f60;
	color: white;
	padding: 20px;

	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000;
}



/* float property */
.float-parent > h4{
	float: left;
	width: 30%;
}

.float-position{
	float: right;
	width: 70%;
}