/* style.css */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #333;
	text-align: center;
	font-family: Arial, sans-serif;
}

.main{
	width: 30%;
	height: 30%;
	margin: 150px auto;
	background-color: red;
	display: flex;
	align-items: center;
	border: 3px solid white;
}

.section{
		border: 3px solid grey;
		height: 100%;
}

.first{
	width: 95%;
	height: 100%:;
}

.second{
	width: 5%;
	height: 100%;
}

/* Child */
.child{
	display: flex;

	flex-wrap: wrap;

	/* space-around, space-between */
	align-content: space-between;
	height: 100%;
	width: 100%;
}

/* Section 01*/


.grandparent-section1{
	display: block;
	width: 100%;
	height: 20%;

	border: 2px solid blue;
}


/* First Parent*/
.grandparent-section1 > .first-parent{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 30%;
	border: 2px solid yellow;
}

.grandparent-section1 > .first-parent .child:nth-child(1){
	background-color: lightblue;
	width: 30%;
	height: 100%;
}

.grandparent-section1 > .first-parent .child:nth-child(2){
	background-color: green;
	width: 40%;
	height: 100%;
}

.grandparent-section1 > .first-parent .child:nth-child(3){
	background-color: yellow;
	width: 30%;
	height: 100%;
}


/* Second Parent*/
.grandparent-section1  .second-parent{
	display: flex;
	width: 20%;
	height: 100%;
}

.grandparent-section1  .second-parent .child:nth-child(1){
	width: 100%;
	height:100%;
}

.grandparent-section1  .second-parent .child:nth-child(2){
	width: 100%;
	height: 100%;
}


/*Child 01 (levo 3 pravoagolnici)*/

.grandparent-section1  .second-parent .child-first{
	display: flex;
	flex-wrap: wrap;

}


.grandparent-section1  .second-parent .child-first:nth-child(1){
	width: 100%;
	height: 30%;
	background-color: rgba(255, 255, 255, 0.5);
}

.grandparent-section1  .second-parent .child-first:nth-child(2){
	width: 100%;
	height: 40%;
	background-color: black;
}

.grandparent-section1  .second-parent .child-first:nth-child(3){
	width: 100%;
	height: 30%;
	background-color: darkblue;
}


.edenidva{
	align-self: stretch;
}

















.grandparent-section2 .parent:nth-child(1){
	background-color: green;
	width: 100%;
	height: 80%;
}

.grandparent-section2 .parent:nth-child(2){
	background-color: blue;
	width: 100%;
	height: 20%;
}