/* style.css */
*{
	font-family: Arial, sans-serif;
	box-sizing: border-box;
}

body{
	margin: 0;
	background-color: #eee;
}

#logo img{
	width: 60px;
	padding-top: 10px; 
}

.color-box img{
	width: 140px;
}


/* Header */
header{
	background-color: #677275;
	padding: 200px 0;
}

header nav{
	background-color: white;
	height: 80px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1000;
}

.container{
	max-width: 1140px;
	margin: 0 auto;
	/*overflow: auto;*/
}

.container:after{
	content: '';
	display: block;
	clear: both;
}


#logo{
	float: left;
	height: 100%;
}

#menu{
	float: right;
	height: 100%;
	line-height: 80px;
}

nav .container{
	height: 100%;
}

#menu a{
	margin-left: 60px;
	color: DodgerBlue;
	text-decoration: none;
}

#menu a:hover{
	color: #0b5e75;
	text-decoration: underline;
}

#hamburger-menu{
	display: none;
}



#cta{
	text-align: center;
	color: white;
}

#cta h1{
	font-size: 60px;
	font-weight: 400;
	margin: 20px 0;
}

#cta h4{
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 1.2px;
}

#cta button{
	border: none;
	background-color: #333d40;
	color: white;
	padding: 15px 60px;
	border-radius: 50px;
}




/* Main Content */


/* Colors */
#colors{
	overflow: auto;
	position: relative;
	bottom: 120px;
	z-index: 500;
}

#colors a{
	color: black;
}

#colors a:hover .blue{
	background-color: #cae6ed;
}

#colors a:hover .green{
	background-color: #caedd4;
}

#colors a:hover .red{
	background-color: #edcaca;
}

.color-box{
	background-color: white;
	float: left;
	width: 29%;
	text-align: center;
	padding: 60px 30px;
	margin: 0 20px;
}

/* Footer */
footer{
	text-align: center;
	padding: 40px 0;
	font-size: 14px;
}




/* Responsive Design */
@media screen and (max-width: 950px){

	.color-box{
		float: none;
		width: 70%;
		margin: 20px auto;
	}

}

@media screen and (max-width: 690px){

	#menu{
		display: none;
	}

	#hamburger-menu{
		display: initial;
		float: right;
		height: 100%;
		line-height: 80px;
	}

	#hamburger-menu button{
		border: none;
		font-size: 36px;
		background-color: transparent;
	}

	.container{
		padding: 0 30px;
	}

	.color-box{
		min-width: 360px;
	}

}