/* style.css */
@font-face{
	src: url('../fonts/august.ttf');
	font-family: 'August';
}

*{
	font-family: 'Open Sans', sans-serif;
}

body{
	font-size: 18px;
}

/* Different ways of using color in CSS */

/* Predefined Color Names */
h1{
	color: red;
	font-family: 'August', Arial, sans-serif;
}

/* rgb - red, green, blue, 
   rgba - red, green, blue, opacity */
h3{
	background-color: rgba(35, 157, 173,0.5);
	/* HEX Code */
	color: #d1e8eb;
	opacity: 0.5;
	font-size: 36px;
}

p{
	/* HSL - Hue, Saturation, Lightness
	   HSLA - Hue, Saturation, Lightness, Opacity */
	color: hsla(256, 50%, 26%, 0.8);
	font-size: 18px;
}


article{
	font-size: 26px;
}

article > p{
	font-size: 2rem;
	font-weight: 700;
	font-style: italic;
	text-transform: uppercase;
	text-decoration: line-through;
}


.ledding{
	line-height: 60px;
	letter-spacing: 5px;
	word-spacing: 10px;
}