/* style.css */

*{
	box-sizing: border-box;
}

#main{
	width: 500px;
	height: 500px;	
	margin: 100px auto;
	/*Border*/
/*	border-width: 2px 2px 2px 2px;
	border-style: solid;
	border-color: #0a0909;*/
	box-shadow: 3px 5px 4px  rgba(181, 181, 181, 0.4);

}


 /* Box 1-5 & 1-3 */
#box1-5{
	width: 100%;
	height: 100%;
}

#box1-3{
	float: left;
	width: 90%;
	height: 10%;
		/*Border*/
	border-width: 0 0 5px 0;
	border-style: solid;
	border-color: #0a0909;
}


	/*Box 01 - 05*/
.box01{
	background-color: #dfe5d0;
	float: left;
	width: 33.33%;
	height: 100%;		
		/*Border*/
	border-width: 0 5px 0px 0;
	border-style: solid;
	border-color: #0a0909;

}

.box02{
	background-color: #f2e7d5;
	float: left;
	width: 39%;
	height: 100%;
			/*Border*/
	border-width: 0 5px 0px 0;
	border-style: solid;
	border-color: #0a0909;
}

.box03{
	background-color: #f2c968;
	float: left;
	width: 27.65%;
	height: 100%;
}

#box4-5{
	float: right;
	width: 10%;
	height: 100%;
			/*Border*/
	border-width: 0 0 0 5px;
	border-style: solid;
	border-color: #0a0909;

}	

.box04{
	background-color: #fcfde7;
	width: 100%;
	height: 74%;
			/*Border*/
	border-width: 0 0 5px 0;
	border-style: solid;
	border-color: #0a0909;
}

.box05{
	background-color: #d73630;
	width: 100%;
	height: 26%;
}




	/* Box 6-20 */
.box6-20{
	width: 100%;
	height: 100%;
}
	
	/* Box 6-8*/
.box6-8{
	background-color: lightgrey;
	float: left;
	width: 15%;
	height: 90%;
		/*Border*/
	border-width: 0 5px 0 0;
	border-style: solid;
	border-color: #0a0909;

}

.box06{
	background-color: white;
	height: 30%;
		/*Border*/
	border-width: 0 0 5px 0;
	border-style: solid;
	border-color: #0a0909;

}

.box07{
	background-color: #dfe5d0;
	height: 40%;
		/*Border*/
	border-width: 0 0 5px 0;
	border-style: solid;
	border-color: #0a0909;

}

.box08{
	background-color: #f2c968;
	height: 30%;

}

/* Box 9-20 */
.box9-20{
	width: 100%;
	height: 100%;


}


.box09{
	background-color: #d62d24;
	float: left;
	width: 50%;
	height: 50%;
		/*Border*/
	border-width: 0 5px 5px 0;
	border-style: solid;
	border-color: #0a0909;
}

	
.box10-12{
	background-color: black;
	float: right;
	width: 25%;
	height: 50%;
	/*Border*/
	border-width: 0 0 5px 0;
	border-style: solid;
	border-color: #0a0909;
}

.box10{
	background-color: #f2c968;
	width: 100%;
	height: 50%;
		/*Border*/
	border-width: 0 0 5px 0;
	border-style: solid;
	border-color: #0a0909;
}

.box11{
	background-color: #dfe5d0;
	float: left;
	width: 50%;
	height: 50%;
		/*Border*/
	border-width: 0 5px 0  0;
	border-style: solid;
	border-color: #0a0909;
}

.box12{
	background-color: #f2eee2;
	float: right;
	width: 50%;
	height: 50%;

}

/* Boxes 13-14 */
.box13-14{
	width: 25%;
	height: 40%;
	float: left;
		/*Border*/
	border-width: 0 5px 0  0;
	border-style: solid;
	border-color: #0a0909;

}
.box13{
	background-color: #2d0b16;
	height: 59%;
	width: 100%;
		/*Border*/
	border-width: 0 0 5px 0;
	border-style: solid;
	border-color: #0a0909;
}

.box14{
	background-color: #e3ded9;
	height: 41%;
	width: 100%;
}

/* Boxes 15-20 */
.box15-19{
	float: right;
	width: 50%;
	height: 40%;
}

.box15-16{
	width: 100%;
	height:35%;
		/*Border*/
	border-width: 0 0 5px  0;
	border-style: solid;
	border-color: #0a0909;

}

.box15{
	background-color: #c0bfba;
	float: left;
	width: 50%;
	height: 100%;
		/*Border*/
	border-width: 0 5px 0  0;
	border-style: solid;
	border-color: #0a0909;
}

.box16{
	background-color: #dfe5d0;
	float: right;
	width: 50%;
	height: 100%
}

.box17-19{
	width: 100%;
	height: 45%;
}

.box17-18{
	float: left;
	width: 50%;
	height: 100%;
		/*Border*/
	border-width: 0 5px 5px  0;
	border-style: solid;
	border-color: #0a0909;
}


.box17{
	background-color: #dfe5d0;
	width: 100%;
	height: 50%;
}

.box18{
	background-color: #2d0b16;
	width: 100%;
	height: 50%;
		/*Border*/
	border-width: 5px 0 0  0;
	border-style: solid;
	border-color: #0a0909;
}

.box19{
	background-color: #241785;
	float: right;
	width: 50%;
	height: 100%;
		/*Border*/
	border-width: 0 0 5px  0;
	border-style: solid;
	border-color: #0a0909;
}

.box20{
	background-color: #dfe5d0;
	width: 100%;
	height: 20%;
}
