/* Style */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main{
	height: 500px;
	width: 500px;
	display: flex;
	margin: 100px auto;
	box-shadow: 3px 4px 3px  rgba(181, 181, 181, 0.7);
}


  /* Container left */
.containerleft{
	flex-grow: 30;
	display: flex;
	flex-direction: column;
	
}

	
	/* Gore */
.containerleft .item:nth-child(1){
	display: flex;
	align-items: column;
	flex-grow: 1.5;
}

	
.containerleft .item .childitem:nth-child(1){
	display: flex;
	background-color: #e5eeeb;
	flex-grow: 1;
}


.containerleft .item .childitem:nth-child(2){
	display: flex;
	background-color: #f2e7d5;
	flex-grow: 1.37;


}

.containerleft .item .childitem:nth-child(3){
	display: flex;
	background-color: #f1c969;
	flex-grow: 1;



}
	/* Gore - End*/



	/* Dolu */
.containerleft .item2{
	display: flex;
	align-items: column;
	flex-grow: 12;


}

	/* nth-child 1*/

.containerleft .item2 .childitem:nth-child(1){
	flex-grow: 1;
	display: flex;
	background-color: lightgrey;
	flex-direction: column;
}


.containerleft .item2 .childitem .grandchild:nth-child(1){
	display: flex;
	background-color: #fbfde6;
	flex-grow: 1;

}

.containerleft .item2 .childitem .grandchild:nth-child(2){
	display: flex;
	background-color: #e1eae5;
	flex-grow: 1.5;

}

.containerleft .item2 .childitem .grandchild:nth-child(3){
	display: flex;
	background-color: #f4c559;
	flex-grow: 1;

}

	/* nth-child 1-end*/


	/* nth-child 2*/

.containerleft .item2 .childitem:nth-child(2){
	flex-grow: 6;
	display: flex;
	flex-direction: column;
}

	/*Grandchild 1*/
.containerleft .item2 .childitem .grandchild2:nth-child(1){
	display: flex;
	flex-grow: 2;
}

.containerleft .item2 .childitem .grandchild2 .grandchild3:nth-child(1){
	display: flex;
	background-color: #d62e25;
	flex-grow: 2.02;
}


.containerleft .item2 .childitem .grandchild2 .grandchild3:nth-child(2){
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}


.containerleft .item2 .childitem .grandchild2 .grandchild4:nth-child(1){
	display: flex;
	background-color: #edcc6b;
	flex-grow: 1;
}

.containerleft .item2 .childitem .grandchild2 .grandchild4:nth-child(2){
	display: flex;
	flex-grow: 1;
}

.containerleft .item2 .childitem .grandchild2 .grandchild4 .grandchild5:nth-child(1){
	display: flex;
	background-color: #e0e5d1;
	flex-grow: 1.1;
}

.containerleft .item2 .childitem .grandchild2 .grandchild4 .grandchild5:nth-child(2){
	display: flex;
	background-color: #f2eee2;
	flex-grow: 1;
}







	/*Grandchild 2 - Dolu*/ 
.containerleft .item2 .childitem .grandchild2:nth-child(2){
	display: flex;
	flex-grow: 1;

}


.containerleft .item2 .childitem .grandchild2a .grandchild2a1:nth-child(1){
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}


.containerleft .item2 .childitem .grandchild2a .grandchild2a1 .a2a1a:nth-child(1){
	display: flex;
	background-color: #130409;
	flex-grow: 2.3;
}


.containerleft .item2 .childitem .grandchild2a .grandchild2a1 .a2a1a:nth-child(2){
	display: flex;
	background-color: #e3deda;
	flex-grow: 1;
}






	/*Desno*/
.containerleft .item2 .childitem .grandchild2a .grandchild2a1:nth-child(2){
	display: flex;
	flex-direction: column;
	flex-grow: 2.1;
}

.containerleft .item2 .childitem .grandchild2a .grandchild2ab .a2a1b:nth-child(1){
	display: flex;
	flex-grow: 3;
}


.containerleft .item2 .childitem .grandchild2a .grandchild2ab .a2a1b:nth-child(2){
	display: flex;
	flex-grow: 3;
}


.containerleft .item2 .childitem .grandchild2a .grandchild2ab .a2a1b:nth-child(3){
	display: flex;
	background-color: #e0e0de;
	flex-grow: 1;
}


.containerleft .item2 .childitem .grandchild2a .grandchild2ab .a2a1b .ab:nth-child(1){
	display: flex;
	background-color: #c0bfba;
	flex-grow: 1;
}


.containerleft .item2 .childitem .grandchild2a .grandchild2ab .a2a1b .ab:nth-child(2){
	display: flex;
	background-color: #d6dee0;
	flex-grow: 1.09;
}


.containerleft .item2 .childitem .grandchild2a .grandchild2ab .a2a1b .abc:nth-child(1){
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}


.containerleft .item2 .childitem .grandchild2a .grandchild2ab .a2a1b .abc:nth-child(2){
	display: flex;
	background-color: #241685;
	flex-grow: 1.09;
}

.containerleft .item2 .childitem .grandchild2a .grandchild2ab .a2a1b .abc .abcd:nth-child(1){
	display: flex;
	background-color: #dee2d4;
	flex-grow: 2;
}

.containerleft .item2 .childitem .grandchild2a .grandchild2ab .a2a1b .abc .abcd:nth-child(2){
	display: flex;
	background-color: #0b0205;
	flex-grow: 1;
}


 /* Container right */
.containerright{
	flex-grow: 2;
	flex-direction: column;
	display: flex;
}


.containerright .item:nth-child(1){
	background-color: #fbfde7;
	flex-grow: 4.3;
}

.containerright .item:nth-child(2){
	background-color: #d73530;
	flex-grow: 1;

}





	/* Border */


.border{
	border-top: 0px;
	border-right: 8px;
	border-bottom: 8px;
	border-left: 0px;
	
	border-style: solid;
	border-color: #141414; 
}


.border1{
	border-bottom: 8px;
	border-right: 8px;
	border-left: 0px;
	border-top: 0px;
	border-style: solid;
	border-color: #141414;

	background-color: #f1c969;
}

.border2{

	border-bottom: 8px;
	border-right: 8px;
	border-left: 0px;
	border-top: 0px;
	border-style: solid;
	border-color: #141414;

	background-color: #f2e7d5;
}

.border3{
	border-bottom: 8px;
	border-right: 8px;
	border-left: 0px;
	border-top: 0px;
	border-style: solid;
	border-color: #141414;

	background-color: #e5eeeb;
}

.border4{
	border-bottom: 0px;
	border-right: 8px;
	border-left: 0px;
	border-top: 0px;
	border-style: solid;
	border-color: #141414;

	background-color: #e5eeeb;
}

.border5{
	border-bottom: 0px;
	border-right: 8px;
	border-left: 0px;
	border-top: 0px;
	border-style: solid;
	border-color: #141414;

	background-color: #e5eeeb;
}


.border6{
		border-top: 0px;
	border-right: 8px;
	border-bottom: 0px;
	border-left: 0px;
	
	border-style: solid;
	border-color: #141414; 
}

.border11{
	border-top: 0px;
	border-right: 8px;
	border-bottom: 8px;
	border-left: 1px;
	
	border-style: solid;
	border-color: #141414; 

}

.border19{
		border-top: 0px;
	border-right: 0px;
	border-bottom: 8px;
	border-left: 0px;
	
	border-style: solid;
	border-color: #141414; 

}