/* style.css */

*{
	background-color: #e6f2f7;
}

	/*Section*/
section{
	float: left;
	width: 50%;
}



/*Cover Image and Text in it*/
#BestPlaces{
	position: absolute;
	margin-top: -50px;
	background-color: rgba(237, 240, 238,50%);
	font-family: 'Noto Sans JP', sans-serif;
	color: #002855;
	font-size: 35px;

}

/*About the author - image*/
#image{
	
	border-radius: 200px;
	height: 100px;

}

/*logo*/
#logo{
	margin-top: 20px;
	float: left;
	width: 200px;
}

/* Navigation */
nav{
	font-family: 'Roboto 300', sans-serif;
	margin-top:60px;
	float: left;
	position: static;
 	right: 150px;
 	text-align: right;
 	font-size: 14px;
}

/*Paragraphs and header-1,2 & 3*/
h1{
	font-family: 'Atlata', sans-serif;
	float: left;
	font-size: 50px;
	margin-right: 390px;
	margin-left: 390px;
	vertical-align: top;
	color: #002855;
}

h2, h3{
	color: #002855;
	font-family: 'Atlata', sans-serif;
}


p{
	font-family: 'Playfair Display', serif;
	color: #0c0e10;
	font-size: 14px;
}

	/*Aside*/
aside{
	position: absolute;
 	right: 150px;
 	width: 200px;
 	height: 200px;
 	text-align: center;
 	color: #0c0e10;
 }

 aside>p {
 	font-family: 'Roboto', sans-serif;
 	color: #0c0e10;
 }

/*Footer*/

footer{
	background-color: #002855;
	position: relative;
	margin-top: 450px;
	text-align: center;
	
}

footer>p {
	color: #e6f2f7;
	background-color: #002855;
	font-family: 'Oswald', sans-serif;

	}



